<!-- Navbar Fixa -->
<nav class="bg-blue-700 text-white fixed top-0 left-0 right-0 z-50 shadow">
  <div class="max-w-7xl mx-auto px-4">
    <div class="flex justify-between items-center h-14">
      <div class="flex space-x-6 items-center">
        <span class="font-bold text-lg tracking-wide">🏐 Vôlei App</span>
        <span class="font-bold text-lg tracking-wide">Produção: {{production}}</span>
        <a routerLink="/jogadores" routerLinkActive="underline" class="hover:underline">Jogadores</a>
        <a routerLink="/iniciar-sessao" routerLinkActive="underline" class="hover:underline">Iniciar Sessão</a>
        <a routerLink="/presenca" routerLinkActive="underline" class="hover:underline">Presença</a>
        <a routerLink="/gerar-times" routerLinkActive="underline" class="hover:underline">Gerar Times</a>        
      </div>
    </div>
  </div>
</nav>

<!-- Conteúdo Principal -->
<main class="pt-20 px-4 pb-10 max-w-7xl mx-auto">
  <app-toast></app-toast>
  <router-outlet></router-outlet>
</main>


       